<a href="https://colab.research.google.com/github/JCDster/IntroToMachineLearning/blob/main/assignment2_Done.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment: Data Wrangling and Exploratory Data Analysis
## Do Q1 and Q2, and one other question.
`! git clone https://www.github.com/DS3001/assignment2`

**I did Q1, Q2, and Q5**

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?
  -This paper is about how to tidy data into a consistant and easy to work with structure in the most effiecient way possible.
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?
  -It is intended to make a standard for data sets so that functions can be uniformly applied to data sets, making data easier to analyse.
  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, itâ€™s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."
  -Based on the Tolstoy quote, it means that all tidy data sets are the same in meaning and complete in the same way. Messy data sets however are uniquely messy, with no overarching factor to the mess.
  -Variables messure an underlying value across units where observations messure the same units across attributes. Its hard to define a systimatic way to tell what is a variable and what is a observation, but it's easy to percieve this difference.
  4. Read Section 2.2. How does Wickham define values, variables, and observations?
  -A value is any number or string collected in the data set. The value is a variable if it is messured on attributes across units but a observation if its mesured across units across attributes.
  5. How is "Tidy Data" defined in section 2.3?
  -each variable has a row, each observation has a column, each type of observational unit forms a table
  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?
  -The 5 most common: Column headers are values, not variable names, multiple variables are stored in one column, variables are stored in both rows and columns, multiple types of observational units are stored in the same table, and a single observational unit is stored in multiple tables. Table 4 is messy because it has three variables, religion, income and frequncy, two of which are stored as columns and one in the rows. Melting is converting columns into rows of data.
  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?
  -This is because the variable day was stored as a column in table 11, but turned into a row for table 12 by using a full date and value format.
  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?
  -The chicken-and-egg problem is that tidy data is only useful as long as there are tools for that tidy data and tools will be linked only to tidy data. He hopes that more people will work on tidy data structures, formats, and tools in order to make tidying data easier, and tools better at using the data.

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [1]:
! git clone https://www.github.com/DS3001/assignment2

Cloning into 'assignment2'...
warning: redirecting to https://github.com/DS3001/assignment2.git/
remote: Enumerating objects: 36, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 36 (delta 8), reused 5 (delta 5), pack-reused 24
Receiving objects: 100% (36/36), 5.47 MiB | 15.09 MiB/s, done.
Resolving deltas: 100% (9/9), done.

In [2]:
import numpy as np # Import the numpy package into your workspace
import pandas as pd

In [10]:
#Start of Part 1
df = pd.read_csv('assignment2/data/airbnb_hw.csv',low_memory=False)
df.head()

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [11]:
print(df['Price'].unique(),'\n') # 'n' is not listed in the codebook

['145' '37' '28' '199' '549' '149' '250' '90' '270' '290' '170' '59' '49'
 '68' '285' '75' '100' '150' '700' '125' '175' '40' '89' '95' '99' '499'
 '120' '79' '110' '180' '143' '230' '350' '135' '85' '60' '70' '55' '44'
 '200' '165' '115' '74' '84' '129' '50' '185' '80' '190' '140' '45' '65'
 '225' '600' '109' '1,990' '73' '240' '72' '105' '155' '160' '42' '132'
 '117' '295' '280' '159' '107' '69' '239' '220' '399' '130' '375' '585'
 '275' '139' '260' '35' '133' '300' '289' '179' '98' '195' '29' '27' '39'
 '249' '192' '142' '169' '1,000' '131' '138' '113' '122' '329' '101' '475'
 '238' '272' '308' '126' '235' '315' '248' '128' '56' '207' '450' '215'
 '210' '385' '445' '136' '247' '118' '77' '76' '92' '198' '205' '299'
 '222' '245' '104' '153' '349' '114' '320' '292' '226' '420' '500' '325'
 '307' '78' '265' '108' '123' '189' '32' '58' '86' '219' '800' '335' '63'
 '229' '425' '67' '87' '1,200' '158' '650' '234' '310' '695' '400' '166'
 '119' '62' '168' '340' '479' '43' '395' '144' '52' '47' '529' '187' '209'
 '233' '82' '269' '163' '172' '305' '156' '550' '435' '137' '124' '48'
 '279' '330' '5,000' '134' '378' '97' '277' '64' '193' '147' '186' '264'
 '30' '3,000' '112' '94' '379' '57' '415' '236' '410' '214' '88' '66' '71'
 '171' '157' '545' '1,500' '83' '96' '1,800' '81' '188' '380' '255' '505'
 '54' '33' '174' '93' '740' '640' '1,300' '440' '599' '357' '1,239' '495'
 '127' '5,999' '178' '348' '152' '242' '183' '253' '750' '259' '365' '273'
 '197' '397' '103' '389' '355' '559' '38' '203' '999' '141' '162' '333'
 '698' '46' '360' '895' '10' '41' '206' '281' '449' '388' '212' '102'
 '201' '2,750' '4,750' '432' '675' '167' '390' '298' '339' '194' '302'
 '211' '595' '191' '53' '361' '480' '8,000' '4,500' '459' '997' '345'
 '216' '218' '111' '735' '276' '91' '490' '850' '398' '36' '775' '267'
 '625' '336' '2,500' '176' '725' '3,750' '469' '106' '460' '287' '575'
 '227' '263' '25' '228' '208' '177' '880' '148' '116' '685' '470' '217'
 '164' '61' '645' '699' '405' '252' '319' '268' '419' '343' '525' '311'
 '840' '154' '294' '950' '409' '184' '257' '204' '241' '2,000' '412' '121'
 '288' '196' '900' '647' '524' '1,750' '309' '510' '1,495' '1,700' '799'
 '383' '372' '492' '327' '1,999' '656' '224' '173' '875' '1,170' '795'
 '690' '146' '465' '1,100' '151' '274' '429' '825' '282' '256' '1,111'
 '620' '271' '161' '51' '855' '579' '1,174' '430' '20' '899' '649' '485'
 '181' '455' '4,000' '243' '342' '590' '560' '374' '437' '232' '359' '985'
 '31' '244' '254' '723' '237' '428' '370' '34' '1,400' '580' '2,520' '221'
 '749' '1,600' '2,695' '306' '202' '680' '570' '520' '223' '2,295' '213'
 '1,065' '346' '24' '286' '296' '266' '26' '995' '1,368' '393' '182' '635'
 '258' '780' '589' '347' '1,250' '1,350' '446' '3,200' '1,050' '1,650'
 '1,550' '975' '323' '6,500' '2,499' '1,850' '2,250' '715' '461' '540'
 '356' '439' '384' '569' '1,900' '22' '785' '626' '830' '318' '444' '321'
 '401' '1,499' '888' '369' '770' '386' '366' '344' '630' '313' '597' '262'
 '509' '10,000' '278' '312' '789' '1,195' '422' '21' '765' '3,500' '945'
 '326' '3,100' '2,486' '3,390' '1,356' '2,599' '472' '454' '328' '396'
 '291']

In [12]:
#I'm so sure there is a better way to do this but here goes nothing
df['Price'] = df['Price'].replace('3,390','3390') # Notice the column replacement
df['Price'] = df['Price'].replace('1,356','1356') # Notice the column replacement
df['Price'] = df['Price'].replace('2,599','2599') # Notice the column replacement


df['Price'] = df['Price'].replace('10,000','10000') # Notice the column replacement
df['Price'] = df['Price'].replace('1,1995','1195') # Notice the column replacement
df['Price'] = df['Price'].replace('3,500','3500') # Notice the column replacement
df['Price'] = df['Price'].replace('3,100','3100') # Notice the column replacement
df['Price'] = df['Price'].replace('2,486','2486') # Notice the column replacement


df['Price'] = df['Price'].replace('1,550','1550') # Notice the column replacement
df['Price'] = df['Price'].replace('6,500','6500') # Notice the column replacement
df['Price'] = df['Price'].replace('2,499','2499') # Notice the column replacement
df['Price'] = df['Price'].replace('1,850','1850') # Notice the column replacement
df['Price'] = df['Price'].replace('2,250','2250') # Notice the column replacement
df['Price'] = df['Price'].replace('1,900','1900') # Notice the column replacement
df['Price'] = df['Price'].replace('1,499','1499') # Notice the column replacement


df['Price'] = df['Price'].replace('1,368','1368') # Notice the column replacement
df['Price'] = df['Price'].replace('1,250','1250') # Notice the column replacement
df['Price'] = df['Price'].replace('1,350','135o') # Notice the column replacement
df['Price'] = df['Price'].replace('3,200','3200') # Notice the column replacement
df['Price'] = df['Price'].replace('1,050','1050') # Notice the column replacement
df['Price'] = df['Price'].replace('1,650','1650') # Notice the column replacement

df['Price'] = df['Price'].replace('2,520','2520') # Notice the column replacement
df['Price'] = df['Price'].replace('1,600','1600') # Notice the column replacement
df['Price'] = df['Price'].replace('2,695','2695') # Notice the column replacement
df['Price'] = df['Price'].replace('2,295','2295') # Notice the column replacement
df['Price'] = df['Price'].replace('1,065','1065') # Notice the column replacement


df['Price'] = df['Price'].replace('1,111','1111') # Notice the column replacement
df['Price'] = df['Price'].replace('1,174','1174') # Notice the column replacement
df['Price'] = df['Price'].replace('4,000','4000') # Notice the column replacement
df['Price'] = df['Price'].replace('1,400','1400') # Notice the column replacement


df['Price'] = df['Price'].replace('1,700','1700') # Notice the column replacement
df['Price'] = df['Price'].replace('1,999','1999') # Notice the column replacement
df['Price'] = df['Price'].replace('1,170','1170') # Notice the column replacement
df['Price'] = df['Price'].replace('1,100','1100') # Notice the column replacement

df['Price'] = df['Price'].replace('1,750','1750') # Notice the column replacement
df['Price'] = df['Price'].replace('1,495','1495') # Notice the column replacement
df['Price'] = df['Price'].replace('1,900','1900') # Notice the column replacement
df['Price'] = df['Price'].replace('1,990','1990') # Notice the column replacement
df['Price'] = df['Price'].replace('1,000','1000') # Notice the column replacement
df['Price'] = df['Price'].replace('1,200','1200') # Notice the column replacement
df['Price'] = df['Price'].replace('3,000','3000') # Notice the column replacement
df['Price'] = df['Price'].replace('1,300','1300') # Notice the column replacement
df['Price'] = df['Price'].replace('1,239','1239') # Notice the column replacement
df['Price'] = df['Price'].replace('5,999','5999') # Notice the column replacement
df['Price'] = df['Price'].replace('2,750','2750') # Notice the column replacement
df['Price'] = df['Price'].replace('4,750','4750') # Notice the column replacement
df['Price'] = df['Price'].replace('8,000','8000') # Notice the column replacement
df['Price'] = df['Price'].replace('2,500','2500') # Notice the column replacement
df['Price'] = df['Price'].replace('4,500','4500') # Notice the column replacement
df['Price'] = df['Price'].replace('5,000','5000') # Notice the column replacement
df['Price'] = df['Price'].replace('3,750','3750') # Notice the column replacement
df['Price'] = df['Price'].replace('2,000','2000') # Notice the column replacement

In [15]:
df['Price'] = pd.to_numeric(df['Price'], errors='coerce') # Coerce the variable to numeric
print(df['Price'].unique())
#ENDED WITH NO MISSING VALUES!
#END Part 1

[  145.    37.    28.   199.   549.   149.   250.    90.   270.   290.
   170.    59.    49.    68.   285.    75.   100.   150.   700.   125.
   175.    40.    89.    95.    99.   499.   120.    79.   110.   180.
   143.   230.   350.   135.    85.    60.    70.    55.    44.   200.
   165.   115.    74.    84.   129.    50.   185.    80.   190.   140.
    45.    65.   225.   600.   109.  1990.    73.   240.    72.   105.
   155.   160.    42.   132.   117.   295.   280.   159.   107.    69.
   239.   220.   399.   130.   375.   585.   275.   139.   260.    35.
   133.   300.   289.   179.    98.   195.    29.    27.    39.   249.
   192.   142.   169.  1000.   131.   138.   113.   122.   329.   101.
   475.   238.   272.   308.   126.   235.   315.   248.   128.    56.
   207.   450.   215.   210.   385.   445.   136.   247.   118.    77.
    76.    92.   198.   205.   299.   222.   245.   104.   153.   349.
   114.   320.   292.   226.   420.   500.   325.   307.    78.   265.
   108.   123.   189.    32.    58.    86.   219.   800.   335.    63.
   229.   425.    67.    87.  1200.   158.   650.   234.   310.   695.
   400.   166.   119.    62.   168.   340.   479.    43.   395.   144.
    52.    47.   529.   187.   209.   233.    82.   269.   163.   172.
   305.   156.   550.   435.   137.   124.    48.   279.   330.  5000.
   134.   378.    97.   277.    64.   193.   147.   186.   264.    30.
  3000.   112.    94.   379.    57.   415.   236.   410.   214.    88.
    66.    71.   171.   157.   545.    nan    83.    96.    81.   188.
   380.   255.   505.    54.    33.   174.    93.   740.   640.  1300.
   440.   599.   357.  1239.   495.   127.  5999.   178.   348.   152.
   242.   183.   253.   750.   259.   365.   273.   197.   397.   103.
   389.   355.   559.    38.   203.   999.   141.   162.   333.   698.
    46.   360.   895.    10.    41.   206.   281.   449.   388.   212.
   102.   201.  2750.  4750.   432.   675.   167.   390.   298.   339.
   194.   302.   211.   595.   191.    53.   361.   480.  8000.  4500.
   459.   997.   345.   216.   218.   111.   735.   276.    91.   490.
   850.   398.    36.   775.   267.   625.   336.  2500.   176.   725.
  3750.   469.   106.   460.   287.   575.   227.   263.    25.   228.
   208.   177.   880.   148.   116.   685.   470.   217.   164.    61.
   645.   699.   405.   252.   319.   268.   419.   343.   525.   311.
   840.   154.   294.   950.   409.   184.   257.   204.   241.  2000.
   412.   121.   288.   196.   900.   647.   524.  1750.   309.   510.
  1495.  1700.   799.   383.   372.   492.   327.  1999.   656.   224.
   173.   875.  1170.   795.   690.   146.   465.  1100.   151.   274.
   429.   825.   282.   256.  1111.   620.   271.   161.    51.   855.
   579.  1174.   430.    20.   899.   649.   485.   181.   455.  4000.
   243.   342.   590.   560.   374.   437.   232.   359.   985.    31.
   244.   254.   723.   237.   428.   370.    34.  1400.   580.  2520.
   221.   749.  1600.  2695.   306.   202.   680.   570.   520.   223.
  2295.   213.  1065.   346.    24.   286.   296.   266.    26.   995.
  1368.   393.   182.   635.   258.   780.   589.   347.  1250.   446.
  3200.  1050.  1650.  1550.   975.   323.  6500.  2499.  1850.  2250.
   715.   461.   540.   356.   439.   384.   569.  1900.    22.   785.
   626.   830.   318.   444.   321.   401.  1499.   888.   369.   770.
   386.   366.   344.   630.   313.   597.   262.   509. 10000.   278.
   312.   789.   422.    21.   765.  3500.   945.   326.  3100.  2486.
  3390.  1356.  2599.   472.   454.   328.   396.   291.]

In [28]:
#Part 2 ./data/sharks.csv
dff = pd.read_csv('assignment2/data/sharks.csv',low_memory=False)
dff.head()
print(dff['Type'].unique())
print(dff['Type'].value_counts())

['Unprovoked' 'Provoked' 'Questionable' 'Watercraft' 'Unconfirmed'
 'Unverified' 'Invalid' 'Under investigation' 'Boating' 'Sea Disaster' nan
 'Boat' 'Boatomg']
Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Boatomg                   1
Name: Type, dtype: int64

In [29]:
dff['Type'] = dff['Type'].replace(['Boating','Boat', 'Boatomg', 'Sea Disaster'],'Watercraft') # Moved anything Boat related to Watercraft catigory
dff['Type'] = dff['Type'].replace(['Unverified','Under investigation', 'Unconfirmed'],'Questionable') # Moved anything in question to the Unconfirmed catigory
dff['Type'] = dff['Type'].replace(['Invalid'], np.nan) # Made anything invalid null

In [30]:
print(dff['Type'].unique())
print(dff['Type'].value_counts())

['Unprovoked' 'Provoked' 'Questionable' 'Watercraft' nan]
Unprovoked      4716
Provoked         593
Watercraft       583
Questionable      13
Name: Type, dtype: int64

I cleaned this so that there are 4 main groups of data, and any invalid data was marked as null so that it would not be marked as real data.
End of Part 2

In [49]:
#Start of Part 3
url = 'http://www.vcsc.virginia.gov/pretrialdataproject/October%202017%20Cohort_Virginia%20Pretrial%20Data%20Project_Deidentified%20FINAL%20Update_10272021.csv'
df1 = pd.read_csv(url,low_memory=False) # Pandas downloads and loads the .csv file for you

In [50]:
print(df1['WhetherDefendantWasReleasedPretrial'].unique())
df1['WhetherDefendantWasReleasedPretrial'] = df1['WhetherDefendantWasReleasedPretrial'].replace(9, np.nan) # Made anything invalid null

[9 0 1]

In [51]:
print(df1['WhetherDefendantWasReleasedPretrial'].unique())
#End of Part 3

[nan  0.  1.]

In [52]:
#Start of Part 4
print(df1['ImposedSentenceAllChargeInContactEvent'].unique)
print(df1['ImposedSentenceAllChargeInContactEvent'].value_counts())

<bound method Series.unique of 0
1                      60
2                      12
3        .985626283367556
4
               ...
22981
22982
22983
22984
22985
Name: ImposedSentenceAllChargeInContactEvent, Length: 22986, dtype: object>
                    9053
0                   4953
12                  1404
.985626283367556    1051
6                    809
                    ...
49.9712525667351       1
57.0349075975359       1
79.9260780287474       1
42.1642710472279       1
1.6570841889117        1
Name: ImposedSentenceAllChargeInContactEvent, Length: 484, dtype: int64

After looking at this data I see that it is all mostly integer numbers with some doubles, and a lot of missing data. I believe it represents the amount of days in prison a person gets sentinced to based on all Charges. I believe, looking at the data that if there is missing data this means that there was no sentince imposed on them so missing values should be replaced with a 0 value.

In [60]:
df1['ImposedSentenceAllChargeInContactEvent'] = pd.to_numeric(df1['ImposedSentenceAllChargeInContactEvent'], errors='coerce') # Coerce the variable to numeric
df1['ImposedSentenceAllChargeInContactEvent'] = df1['ImposedSentenceAllChargeInContactEvent'].replace([np.nan, np.NaN], 0) # Made anything invalid null

print(df1['ImposedSentenceAllChargeInContactEvent'].value_counts())

0.000000     14006
12.000000     1404
0.985626      1051
6.000000       809
3.000000       787
             ...
49.971253        1
57.034908        1
79.926078        1
42.164271        1
1.657084         1
Name: ImposedSentenceAllChargeInContactEvent, Length: 483, dtype: int64

To clean this code I changed the data to a numeric then replaced any missing value with a 0 as I mean a missing value means there was no charges brought so that there was no imposed sentince on the person with no value.
End of part 4.

**Q3.** This question provides some practice doing exploratory data analysis and visualization.

The "relevant" variables for this question are:
  - `level` - Level of institution (4-year, 2-year)
  - `aid_value` - The average amount of student aid going to undergraduate recipients
  - `control` - Public, Private not-for-profit, Private for-profit
  - `grad_100_value` - percentage of first-time, full-time, degree-seeking undergraduates who complete a degree or certificate program within 100 percent of expected time (bachelor's-seeking group at 4-year institutions)

1. Load the `./data/college_completion.csv` data with Pandas.
2. What are are the dimensions of the data? How many observations are there? What are the variables included? Use `.head()` to examine the first few rows of data.
3. Cross tabulate `control` and `level`. Describe the patterns you see.
4. For `grad_100_value`, create a histogram, kernel density plot, boxplot, and statistical description.
5. For `grad_100_value`, create a grouped kernel density plot by `control` and by `level`. Describe what you see. Use `groupby` and `.describe` to make grouped calculations of statistical descriptions of `grad_100_value` by `level` and `control`. Which institutions appear to have the best graduation rates?
6. Create a new variable, `df['levelXcontrol']=df['level']+', '+df['control']` that interacts level and control. Make a grouped kernel density plot. Which institutions appear to have the best graduation rates?
7. Make a kernel density plot of `aid_value`. Notice that your graph is "bi-modal", having two little peaks that represent locally most common values. Now group your graph by `level` and `control`. What explains the bi-modal nature of the graph? Use `groupby` and `.describe` to make grouped calculations of statistical descriptions of `aid_value` by `level` and `control`.
8. Make a scatterplot of `grad_100_value` by `aid_value`. Describe what you see. Now make the same plot, grouping by `level` and then `control`. Describe what you see. For which kinds of institutions does aid seem to increase graduation rates?

**Q4.** This question uses the Airbnb data to practice making visualizations.

  1. Load the `./data/airbnb_hw.csv` data with Pandas. You should have cleaned the `Price` variable in question 2, and you'll need it later for this question.
  2. What are are the dimensions of the data? How many observations are there? What are the variables included? Use `.head()` to examine the first few rows of data.
  3. Cross tabulate `Room Type` and `Property Type`. What patterns do you see in what kinds of rentals are available? For which kinds of properties are private rooms more common than renting the entire property?
  4. For `Price`, make a histogram, kernel density, box plot, and a statistical description of the variable. Are the data badly scaled? Are there many outliers? Use `log` to transform price into a new variable, `price_log`, and take these steps again.
  5. Make a scatterplot of `price_log` and `Beds`. Describe what you see. Use `.groupby()` to compute a desciption of `Price` conditional on/grouped by the number of beds. Describe any patterns you see in the average price and standard deviation in prices.
  6. Make a scatterplot of `price_log` and `Beds`, but color the graph by `Room Type` and `Property Type`. What patterns do you see? Compute a description of `Price` conditional on `Room Type` and `Property Type`. Which Room Type and Property Type have the highest prices on average? Which have the highest standard deviation? Does the mean or median appear to be a more reliable estimate of central tendency, and explain why?
  7. We've looked a bit at this `price_log` and `Beds` scatterplot. Use seaborn to make a `jointplot` with `kind=hex`. Where are the data actually distributed? How does it affect the way you think about the plots in 5 and 6?

**Q5.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.

1. How did the most recent US Census gather data on race?
-It is based on self identification of one or more racial groups as defined by OMB standards. The race options were White, Black/African American, American Indian/Alaska Native, Asian, Native Hawaiian, or other. There was also ethnicity for Hispanic or Latino and not Hispanic or Latino.
2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?
-This data is important for a multitude of reasons. First it shows the diversity of America, states, and towns through the diversity index. It can also be used to identify trends of oppression, redlining, gerrymandering and other racial problems that are systemic in America. Lastly, it can show trends in how America is changing, developing, and unifying as a nation. This data plays a huge factor in politics, from gerrymandering to improving diversity, to hate groups, what racial groups are where sadly still plays a massive role in American politics. Especially as we see more racial tentions flair amungst republicans on the Mexican boarder. Quality of data matters greatly in order to properly be able to anylize the data and find patterns that can lead to the identification of oppression, redlining, and other negative race-baced problems happening all over America.
3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?
-I feel that the exact wording of the question was far too confusing. They had many boxes for combinations of different racial groups and ethnicities, which I struggled to interpret after 5 minutes. Also, there is not a uniform number of groups that are included on all Census collections which in my opinion is plain stupid. Simplicity is key; there needs to be one question asked on all Census collections with simple to understand race boxes, descriptions of what entails each race/ethnicity, and a uniform expansive number of racial group options. The fact you can select more than one race was a great recent addition in 2010 and should definitly be kept.
4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.
-To gather sex, there is a male or female box with the question "what is Person1's sex" but have updated to sex assigned at birth in recent trials. For gender only began being asked about in 2021 and asks if you identify as male, female, transgender, or none of these. I feel that there should be some ability to write in a different gender identity, or at least maybe a side box with many of the most common, not listed, gender identities. Every community should be represented somehow.
5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?
-As long as sex has a uniform way of being mesured "male/female" or "m/f" I feel this would be easy to clean. The problem with gender and sexual identity is the sheer number of different indentities that people identify with, which can be very hard to account for. Just having the "other" catigory can contain a massive array of different identities, and as many call both a spectrem, both sides can be listed in this other catigory. This is where I feel that some sort of grouping needs to be done in the other catigory. For example for sexual orintation it could be group by if someone is attracted to zero, one, two, or more genders. For race there are simply, currently, too many confusing catigories that can make the data very hard to devide up and may make it difficult to draw meany meaningful conclusions. For example having a "more than one race" box tells you very little about a person, where these could be the most important data points. It can show the intersection of two racial groups and whether trends continue of somone who belongs to both.
6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?
-First off, there are great privacy concerns with this. Ethically I feel it is wrong to try to assume someones personal characteristics and then use that assumtion to make decisions about this person. This can lead to ethically unsound people/buisnesses to impute race of canidits, or try to find the sexuality of random people. Beyond ethical concerns, imputing characteristics like this would most likely prove very inconsistant as people are multidimensional and very difficult to predict.

**Q6.** Open the `./data/CBO_data.pdf` file. This contains tax data for 2019, explaining where the money comes from that the U.S. Federal Government Spends in terms of taxation on individuals/families and payroll taxes (the amount that your employer pays in taxes on your wages).

For some context, the Federal government ultimately spent about $4.4 trillion in 2019, which was 21% of GDP (the total monetary value of all goods and services produced within the United States). Individual Income Taxes is the amount individuals pay on their wages to the Federal government, Corporate Income Taxes is the taxes individuals pay on capital gains from investment when they sell stock or other financial instruments, Payroll Taxes is the tax your employer pays on your wages, Excises and Customs Duties are taxes on goods or services like sin taxes on cigarettes or alcohol, and Estate and Gift Taxes are taxes paid on transfers of wealth to other people.

1. Get the Millions of Families and Billions of Dollars data into a .csv file and load it with Pandas.
2. Create a bar plot of individual income taxes by income decile. Explain what the graph shows. Why are some values negative?
3. Create a bar plot of Total Federal Taxes by income decile. Which deciles are paying net positive amounts, and which are paying net negative amounts?
4. Create a stacked bar plot for which Total Federal Taxes is grouped by Individual Income Taxes, Payroll Taxes, Excises and Customs Duties, and Estate and Gift Taxes. How does the share of taxes paid vary across the adjusted income deciles? (Hint: Are these the kind of data you want to melt?)
5. Below the Total line for Millions of Families and Billions of Dollars, there are data for the richest of the richest families. Plot this alongside the bars for the deciles above the Total line. Describe your results.
6. Get the Percent Distribution data into a .csv file and load it with Pandas. Create a bar graph of Total Federal Taxes by income decile.
7. A tax system is progressive if higher-income and wealthier individuals pay more than lower-income and less wealthy individuals, and it is regressive if the opposite is true. Is the U.S. tax system progressive in terms of amount paid? In terms of the percentage of the overall total?
8. Do the rich pay enough in taxes? Defend your answer.